<div class="row">
    <div>
        <span class="glyphicon glyphicon-file icon-xl" ng-click="add()"></span>
    </div>
    <div class="col-md-6 center">
        <div class="row">
            <h1 class="text-center">{{recipe.name}}</h1>
            <h4 ng-if="recipe.author" class="text-right">By {{recipe.author}}</h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel">
                <h2>Ingredients</h2>
                    <div>
                        <div ng-repeat="ingredient in recipe.ingredients track by $index | filter:ingredient"><h4><span class="text-muted">{{$index+1 | number}}.</span> {{ingredient}}</h4></div>
                    </div>
                </div>
                <div class="panel">
                    <h2>Steps</h2>
                    <div>
                        <div ng-repeat="direction in recipe.directions track by $index | filter:direction"><span><span class="text-muted">{{$index+1 | number}}.</span> {{direction}}</span></div>
                    </div>
                </div>
                <div>
                    <span class="pull-left glyphicon glyphicon-link icon-xl"></span><span class="pull-right glyphicon glyphicon-cutlery icon-xl"></span>
                </div>
            </div>
            <div class="col-md-8">
                <div>Pictures</div>
                <span ng-if="recipe.description" class="text-center">{{recipe.description}}</span>
            </div>
        </div>
        </div>
</div>