<div class="row">
    <div class="col-md-6 center">
        <div class="row">
            <h1 class="text-center"><xeditable trigger="isEditing" property="recipe.name" default="Click to name your recipe" on-before-save="set('name')(recipe.id, $data)" /></h1>
            <h4 class="text-right">By <xeditable trigger="isEditing" property="recipe.author" default="Click to add your name" on-before-save="set('author')(recipe.id, $data)" /></h4>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>Ingredients</h2>
                <div ui-sortable="ingredientsSortableOptions" ng-model="recipe.ingredients">
                    <div ng-repeat="ingredient in recipe.ingredients"><span><span class="icon-lg bold">{{$index+1 | number}}.</span>&nbsp<xeditable trigger="isEditing" property="ingredient" default="Click to add an ingredient" on-after-save="setAtIndex('ingredients', $index, $data)" /></span>&nbsp;<span ng-click="removeAtIndex('directions', $index)" class="glyphicon glyphicon-trash"></span></div>
                </div>
                <button class="btn btn-default" ng-click="addIngredient()"><span class="glyphicon glyphicon-plus"></span> Add a new ingredient</button>
                <h2>Steps</h2>
                <div ui-sortable="directionsSortableOptions" ng-model="recipe.directions">
                    <div ng-repeat="direction in recipe.directions"><span><span class="icon-lg bold">{{$index+1 | number}}.</span>&nbsp<xeditable trigger="isEditing" property="direction" default="Click to add a direction" on-after-save="setAtIndex('directions', $index, $data)" /></span>&nbsp;<span ng-click="removeAtIndex('directions', $index)" class="glyphicon glyphicon-trash"></span></div>
                </div>
                <button class="btn btn-default" ng-click="addDirection()"><span class="glyphicon glyphicon-plus"></span> Add a new step</button>
            </div>
            <div class="col-md-4 top-buffer">
                <p class="text-center"><xeditablearea trigger="isEditing" property="recipe.description" e-style="text-align:centre" default="Click to add a description" on-before-save="set('description')(recipe.id, $data)" /></p>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-4">
                <span class="btn btn-primary btn-lg" ng-click="add()"><i class="glyphicon glyphicon-file icon-lg "></i>&nbsp;New</span>
            </div>
            <div class="col-md-4">
                <a class="btn btn-primary btn-lg" ng-click="share()"><i class="glyphicon glyphicon-link icon-lg "></i>&nbsp;Share</a>
            </div>
            <div class="col-md-4">
                <span class="btn btn-primary btn-lg" ng-click="fork()"><i class="glyphicon glyphicon-cutlery icon-lg "></i>&nbsp;Fork</span>
            </div>
        </div>
    </div>
</div>