<div class="row">
    <div class="jumbotron">
        <h1>ForkTip&nbsp;<small>Welcome!</small></h1>
        <p>Welcome to ForkTip, a place where you can create, share, and remix recipes whimsically.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <span class="glyphicon glyphicon-file icon-xl" ng-click="add()"></span>
        <p>Create & share a new recipe!</p>
    </div>
    <div class="col-md-4">
        <span class="glyphicon glyphicon-file icon-xl" ng-click="add()"></span>
    </div>
</div>